/*----------------------------
    3. WELCOME TEXT AREA
------------------------------*/

.welcome-area {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.welcome-mockup img {
    width: 70%;
}

.welcome-text h4 {
    font-size: 20px;
}

.welcome-text h1 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 30px;
}



@media only screen and (min-width: 1920px) {}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .welcome-text h1 {
        font-size: 48px;
    }
    .welcome-mockup img {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .welcome-text {
        text-align: center;
    }
    .welcome-mockup {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .welcome-text {
        text-align: center;
    }
    .welcome-text h1 {
        font-size: 26px;
    }
    .welcome-area .download-button {
        display: none;
    }
    .welcome-mockup {
        display: none;
    }
    .download-button a:first-child {
        margin-bottom: 30px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .welcome-text h1 {
        font-size: 32px;
    }
    .welcome-area .download-button {
        display: block;
    }
    .download-button a:first-child {
        margin-bottom: inherit;
    }
}
